.chessboard {
    padding: 0px;
    display:grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    grid-template-rows: repeat(auto-fit,minmax(0,1fr));
    height:500px;
    width:500px;
    overflow: hidden;
    background-color: black;
    grid-gap:1px;
    border:2px solid black;
}

.chessboard > * {
    min-width: 0px;
}

.chessboard  > .chess-tile {
    min-width: 0px;
    min-height: 0px;
    width:1fr;
    height:1fr;
}

.chessboard  > .chess-tile.occupied:hover {
    cursor: pointer;
}

.chessboard > .chess-tile.chess-tile-light {
    background-color: lightgray;
}

.chessboard > .chess-tile.chess-tile-dark {
    background-color: darkgray;
}

.chessboard > .chess-tile > img {
    width: 100%;
    height: auto;
}